<h1>Hello From Mzito-squad</h1>
<p>How are you? I hope that you are having a nice weekend. My Name is Cliff from mzito-squad</p>
<p>I contacting you to inform that there is a reqruitment and we are looking for you!!</p>
<p>Yes YOU!!</p>
<p><a href="/form">SUBMIT YOUR DETAILS HERE</a></p>
<p>Cheers,</p>
<p>Mzito-Squad</p>
<p><a href='/favorite_photos' >P.S. Check out my favorite travel photos here.</a></p>
